# Connecting to the Redshift Cluster

In [4]:
import pandas as pd
import boto3
import json
import configparser
import psycopg2

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

# Setting up the connection and cursor

In [6]:
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()
# print(conn_string)
# %sql $conn_string

# Sample SQL Queries

### Extracing from the Time Table

In [7]:
cur.execute("""SELECT * FROM time LIMIT 5;""")
df = pd.DataFrame(cur.fetchall())

df.columns = [cur.description[i][0]for i in range(df.shape[1])]
df.head()

   start_time hour day week month  year weekday
0  1541107053   21   1   44    11  2018       4
1  1541109015   21   1   44    11  2018       4
2  1541109125   21   1   44    11  2018       4
3  1541151743    9   2   44    11  2018       5
4  1541152940   10   2   44    11  2018       5

### Extracing from the Songplays Table

In [8]:
rows = 5

#getting the data
cur.execute("""SELECT * FROM songplays LIMIT {};""".format(rows))
df = pd.DataFrame(cur.fetchall())

#getting column headers
df.columns = [cur.description[i][0]for i in range(df.shape[1])]
df.head()

,songplay_id,timestamp,user_id,level,session_id,location,user_agent,song_id,artist_id
0,0,1541407366,42,paid,129,"New York-Newark-Jersey City, NY-NJ-PA","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",SOLXZZO12A8C13E534,ARQPG141187B9AE8B1
1,15,1541411683,42,paid,129,"New York-Newark-Jersey City, NY-NJ-PA","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",SOAPZIG12A6D4F7920,ARDCFNZ1187FB3DDB0
2,22,1541411296,42,paid,129,"New York-Newark-Jersey City, NY-NJ-PA","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",SOTBEQR12A8C13B7CF,ARS7PFY1187B9AED69
3,29,1541414660,42,paid,129,"New York-Newark-Jersey City, NY-NJ-PA","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",SOZAPQT12A8C142821,ARF2EHS1187B994F4E
4,36,1541411089,42,paid,129,"New York-Newark-Jersey City, NY-NJ-PA","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",SOGCDYR12AC961854A,ARC8CQZ1187B98DECA